@mixin box-border($border-color) {
    box-sizing: border-box;
    border-radius: 10px;
    border: 5px solid $border-color;
}

@mixin box-info($bg-color, $border-color, $font-color) {
    padding: 1em;

    @include box-border($border-color);
    background: $bg-color;
    color: $font-color;
}

@mixin label($bg-color, $font-color) {
    display: inline-block;
    background: $bg-color;
    color: $font-color;
    padding: 0.25em 0.5em;
    margin: 0.25em 0;
    border-radius: 5px;
}

@mixin tags($bg-color, $font-color) {
    .tags {
        list-style: none;
        padding: 0;

        li {
            @include label($bg-color, $font-color);

            &.green {
                background: var(--color-green);
            }

            &.red {
                background: var(--color-alert);
            }
        }
    }
}

@mixin alert($bg-color, $font-color) {
    border-radius: 5px;
    padding: 1em;
    background: $bg-color;
    color: $font-color;

    a {
        color: $font-color;
    }
}

@mixin button($bg-color, $font-color, $hover-bg-color, $hover-font-color, $active-bg-color, $active-font-color) {
    padding: 1em;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    background: $bg-color;
    color: $font-color;
    font-weight: bold;

    transition: all 250ms ease;

    &:hover {
        background: $hover-bg-color;
        color: $hover-font-color;
    }

    &:active {
        background: $active-bg-color;
        color: $active-font-color;
    }

}
