@mixin box-info($bg-color, $border-color, $font-color) {
    border-radius: 10px;
    padding: 1em;

    background: $bg-color;
    border: 5px solid $border-color;
    color: $font-color;
}

@mixin label($bg-color, $font-color) {
    display: inline-block;
    background: $bg-color;
    color: $font-color;
    padding: 0.25em 0.5em;
    margin: 0.25em 0;
    border-radius: 5px;
}

@mixin tags($bg-color, $font-color) {
    .tags {
        list-style: none;
        padding: 0;

        li {
            @include label($bg-color, $font-color);

            &.green {
                background: var(--color-green);
            }

            &.red {
                background: var(--color-alert);
            }
        }
    }
}

@mixin alert($bg-color, $font-color) {
    border-radius: 5px;
    padding: 1em;
    background: $bg-color;
    color: $font-color;

    a {
        color: $font-color;
    }
}
