.password-managers {
}

.pwd-manager {
    @include box-info(none, var(--color-dark), black);
    padding: 0;

    .pwd--header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 1em);
        background: var(--color-dark);
        color: white;
        padding: 0.5em;
        @include tags(var(--color-info), var(--color-dark));

        .header--title {
            display: flex;
            align-items: center;
            max-width: 50%;
            gap: .5em;

            h2 {
                margin-top: 0;
                margin-bottom: 0.15em;
                font-size: 1.5em;
            }
            h3 {
                margin: 0;
                font-weight: normal;
            }
        }

        img.header--logo {
            max-width: 75px;
        }

        .header--name {
            min-width: max-content;
        }
    }

    .pwd--desc {
        padding: .5em 1em;
    }

    &:not(:last-of-type) {
        margin-bottom: 1em;
    }

    .learn-more {
        display: block;
        background: var(--color-dark);
        color: white;
        padding: 1em;
        margin: 0;
        text-align: center;
        font-size: 1.5rem;
    }
}
