.select {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; // TODO: Add breakpoint for small screens
    align-items: center;
    align-content: center;
    margin-bottom: 1em;

    .service-checkbox {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;

        &:checked + .service-container {
            background: var(--color-primary);
            color: white;
        }

        &:focus ~ .service-container {
            outline: 1px solid black;
        }
    }

    .service {
        text-align: center;
        margin-bottom: .5em;

        .service-container {
            padding: 1em;
            border-radius: 5px;
            transition: all 250ms ease-in-out;
        }

        img {
            max-width: 200px;
        }

        @media (max-width: $breakpoint-small) {
            h2 {
                font-size: 1em;
            }
            img {
                max-width: 75px;
            }
        }
    }
}

// For "my-selection" page
.selected { 
    .service {
        display: none;
    }

}

button.submit {
    position: fixed;
    right: 0;
    bottom: 0;

    background: var(--color-primary);
    color: white;
    font-weight: bold;
    padding: 1em;
    font-size: 1rem;

    border-radius: 5px;
    border: none;

    cursor: pointer;
}
