/*
    All services, pages/services.html
*/
.all-services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;

    .service {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        flex-grow: 1;

        img {
            width: 100px;
            margin-right: 1em;
        }

        .meta {
            h2,
            h3 {
                margin: 0;
                margin-bottom: 0.5em;
            }
            p {
                margin: 0;
            }
        }
    }
    @media (max-width: $breakpoint-lg) {
        grid-template-columns: 1fr;
    }
}

/*
    Individual service page, _layout/service.html
*/
.service-page {
    @include service-box("service");

    .warning {
        @include alert(var(--color-alert), white, 0);
    }

    .expand-box {
        &:not(:last-of-type) {
            margin-bottom: 1em;
        }
    }

    .last-updated {
        display: block;
        padding: 1em;
        text-align: right;
    }
}

/*
    Selection page, index.html
*/
.select-wrapper {
    position: relative;
    padding-bottom: 2em;
}

.select {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 1em;
    gap: 1em;

    @media (max-width: $breakpoint-medium) {
        grid-template-columns: repeat(3, 1fr);
    }

    .service-checkbox {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;

        &:checked + .service-container {
            background: var(--color-dark);
            color: white;

            &:hover {
                background: var(--color-dark);
                color: white;
            }
        }

        &:focus ~ .service-container {
            outline: 1px solid black;
        }
    }

    .service {
        text-align: center;
        margin-bottom: 0.5em;

        .service-container {
            padding: 1em;
            border-radius: 5px;
            transition: all 250ms ease-in-out;

            &:hover {
                background: var(--color-info);
            }
        }

        img {
            max-width: 150px;
        }

        @media (max-width: $breakpoint-small) {
            h2 {
                font-size: 1em;
            }
            img {
                max-width: 75px;
            }
        }
    }
}

/*
   Selected page, pages/my-services.html
*/
.none-selected {
    display: none;
}

.selected--service {
    display: none;

    @include service-box("service");
}

.learn-more {
    display: inline-block;
    margin: 1em 0;
}

span.device {
    &::after {
        display: inline-block;
        position: relative;
        font-size: 0.75rem;
        right: -0.5em;

        &.browser {
            @include label(var(--color-green), white) content: "browser";
        }
        &.app {
            @include label(var(--color-dark), white) content: "app";
        }
        &.app-only {
            @include label(var(--color-alert), white) content: "app only";
        }
        &.browser-only {
            @include label(var(--color-alert), white) content: "browser only";
        }
    }
}
