/*
    All services, pages/services.html
*/
.all-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1em 0;

    .service {
        display: flex;
        flex-wrap: nowrap;
        max-width: 50%;
        flex-grow: 1;

        &:not(:last-of-type) {
            margin-bottom: 1em;
        }

        img {
            max-width: 100px;
            margin-right: 1em;
        }

        .meta {
            h2,
            h3 {
                margin: 0;
                margin-bottom: 0.5em;
            }
            p {
                margin: 0;
            }
        }
    }
    @media (max-width: $breakpoint-lg) {
        flex-direction: column;

        .service {
            max-width: 100%;
        }
    }
}

/*
    Individual service page, _layout/service.html
*/
.service-page {
    margin-bottom: 1em;
    .heading {
        margin-bottom: 1em;
        transition: all 250ms ease;

        &:hover {
            background: var(--color-info);
        }

        .title {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            img {
                max-width: 100px;
                margin-right: 1em;
            }
            h1 {
                margin: 0;
                margin-bottom: 0.15em;
                font-size: 2.5em;
            }
            h2 {
                margin: 0;
            }
        }
        .tags {
            list-style: none;
            padding: 0;

            li {
                display: inline;
                background: var(--color-dark);
                color: white;
                padding: 0.25em 0.5em;
                border-radius: 5px;
            }
        }

        .desc {
            margin-bottom: 0;
        }
    }

    .content {
        .recent {
            padding: 1em;
        }

        h1 ~ .recent {
            padding-top: 0;
        }

        .expand-box {
            details {
                width: fit-content;
            }
        }

        dl {
            display: grid;
            grid-template-columns: auto 1fr;

            dd {
                margin-inline-start: 1em;
                margin-bottom: 0.5em;
            }
            @media (max-width: $breakpoint-small) {
                grid-template-columns: auto;

                dd {
                    margin-inline-start: 0;
                }
            }
        }

        details {
            &:not(:last-of-type) {
                margin-bottom: 0.5em;
            }
        }
    }
}

.warning {
    border-radius: 5px;
    padding: 1em;

    &.red {
        background: var(--color-alert);
        color: white;

        a {
            color: white;
        }
    }
}

/*
    Selection page, index.html
*/
.select-wrapper {
    position: relative;
    padding-bottom: 2em;
}

.select {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; // TODO: Add breakpoint for small screens
    align-items: center;
    align-content: center;
    margin-bottom: 1em;

    .service-checkbox {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;

        &:checked + .service-container {
            background: var(--color-dark);
            color: white;

            &:hover {
                background: var(--color-dark);
                color: white;
            }
        }

        &:focus ~ .service-container {
            outline: 1px solid black;
        }
    }

    .service {
        text-align: center;
        margin-bottom: 0.5em;

        .service-container {
            padding: 1em;
            border-radius: 5px;
            transition: all 250ms ease-in-out;

            &:hover {
                background: var(--color-info);
            }
        }

        img {
            max-width: 200px;
        }

        @media (max-width: $breakpoint-small) {
            h2 {
                font-size: 1em;
            }
            img {
                max-width: 75px;
            }
        }
    }
}

/*
   Selected page, pages/my-services.html
*/

.selected {
    &--service {
        display: none;
        &:not(:last-of-type) {
            margin-bottom: 1em;
        }
    }

    .service {
        &--container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 0.5em;

            @media (max-width: $breakpoint-medium) {
                align-items: flex-start;
                padding: 1em;

                .service--logo {
                    align-self: center;
                }
            }
        }

        &--logo {
            margin-right: 1em;
            text-align: center;
            width: 15em;

            h3 {
                margin: 0;
                font-weight: normal;
            }
        }

        &--more {
            flex-grow: 1;
        }
    }
}

.learn-more {
    display: inline-block;
    margin: 1em 0;
}

.info-box {
    border-radius: 10px;
    padding: 1em;

    &.blue {
        background: var(--color-info);
        border: 5px solid var(--color-dark);
        color: var(--color-dark);
    }

    &.border {
        &.dark {
            --border-color: var(--color-dark);
        }

        &.alert {
            --border-color: var(--color-alert);
        }

        border: 5px solid var(--border-color);
    }
}
