<div class="expand-box">
    <h2>{{ include.title }}</h2>
    {% for item in include.array %}
    <details>
        <summary>
            {{ item.desc }}
        </summary>
        {% for device in item.device %}
            {% if item.device.size > 1 %}
                <details>
                    <summary>Via {{ device.name }}</summary>
                    <{{ include.type }}>
                        {% for step in device.steps %}
                        <li>{{ step }}</li>
                        {% endfor %}
                    </{{ include.type }}>
                </details>
            {% else %}
                Via {{ device.name }}
                <{{ include.type }}>
                    {% for step in device.steps %}
                    <li>{{ step }}</li>
                    {% endfor %}
                </{{ include.type }}>
            {% endif %}
        {% endfor %}
    </details>
    {% endfor %}
</div>
