{% assign breaches = "" %}
{% for service in site.services %}
    {% assign recent_breach = service.recent_breach | date: "%Y-%m-%d" | append: "," %}
    {% assign breaches = breaches | append: recent_breach %}
{% endfor %}
{% assign breaches = breaches | split: "," | sort | reverse %}
<div class="warning">
    {% assign perpetrator = site.services | where: "recent_breach", breaches[0] %}
    <a href="{{ perpetrator[0].url }}">
        There was recently a breach at {{ perpetrator[0].name }}: {{ breaches[0] }}
    </a>
</div>
