:root {
    --color-primary: #3da9fc;
    --color-alert: #ef4565;
    --color-info: #d8eefe;
    --color-dark: #094067;
    --color-bg: #fffffe;
    --color-green: #008a5e;
}

html,
body {
    background: var(--color-bg);
    font-family: $font-family-sans;

    font-size: $font-size-desktop;

    @media (max-width: $breakpoint-small) {
        font-size: $font-size-mobile;
    }
}

.container {
    max-width: $page-max-width;
    padding: 0 1em;
    margin: 0 auto;
}

.introduction {
    @include box-info(none, var(--color-dark), var(--color-dark));
    
    h1 {
        font-size: 2em;
    }
}
