:root {
    --color-gray: #3d4756;
    --color-green: #008a5e;
    --color-red: #c20024;
    --color-blue-dark: #094067;
    --color-blue-light: #d8eefe;
    --color-primary: var(--color-blue-dark);
    --color-white: #fffffe;
    --color-bg: var(--color-white);
}
