---
layout: default
title: My services
permalink: /my
---

{% assign services = site.data.service %}

<h1>Secure your accounts (self-configuration)</h1>

<section class="selected">
    {% for service in services %}
    <div id="{{ service[1].name | downcase }}" class="selected--service">
        <div class="service--container">
            <span class="service--logo">
                <img style="max-width: 150px" src="{{ service[1].logo }}" alt="{{ service[1].name }} logo" />
                <h2>{{ service[1].name }}</h2>
                <h3>Owned by {{ service[1].owner }}</h3>
                <ul class="tags">
                    {% for tag in service[1].tags %}
                        <li>{{ tag }}</li>
                    {% endfor %}
                </ul>
            </span>
            <div class="secure-your-account">
                {% assign security = service[1].security %}
                {% assign privacy = service[1].privacy %}

                {% include components/list-details.html array=security title="Security settings" type="ol" %}
                {% include components/list-details.html array=privacy title="Privacy settings" type="ol" %}

                <div class="what-they-collect">
                    <h2>What they collect</h2>
                    {% for item in service[1].collect %}
                    <details>
                        <summary>{{ item.what }}</summary>
                        <p class="desc">
                            {{ item.how }}
                        </p>
                    </details>
                    {% endfor %}
                </div>
                <a class="learn-more" href="/services/{{ service[1].name | downcase }}">Learn more</a>
            </div>
        </div>
    </div>
    {% endfor %}
</section>

<script type="text/javascript">
    window.onload = populateTemplate();

    function populateTemplate() {
        var array = JSON.parse(localStorage.getItem("services"));

        for (i = 0; i < array.length; i++) {
            document.getElementById(array[i].toLowerCase()).style.display = "block";
        }

    }
</script>
