---
layout: default
title: My services
permalink: /my
---

{% assign services = site.data.service %}

<h1>Secure your accounts</h1>

<div class="selected">
    {% for service in services %}
    <div id="{{ service[1].name | downcase }}" class="selected--service">
        <div class="service--container">
            <span class="service--logo">
                <img style="max-width: 150px" src="{{ service[1].logo }}" alt="{{ service[1].name }} logo" />
                <h2>{{ service[1].name }}</h2>
                <h3>Owned by {{ service[1].owner }}</h3>
            </span>
            <div class="secure-your-account">
                {% assign security = service[1].security %}
                {% assign privacy = service[1].privacy %}

                {% include components/list-details.html array=security title="Security" type="ol" %}
                {% include components/list-details.html array=privacy title="Privacy" type="ol" %}

                <h2>What they collect</h2>
                {% for item in service[1].collect %}
                <details>
                    <summary>{{ item.what }}</summary>
                    <p class="desc">
                        {{ item.how }}
                    </p>
                </details>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script type="text/javascript" src="/src/my-services.js"></script>
