---
layout: default
title: Password manager
permalink: /password-manager
menu: main
---

<!--
bitwarden
Keepassxc
1password
lastpass
-->
<h1>Password managers</h1>
<section class="password-managers">
    {% assign managers = site.data.pwd %}
    {% for manager in managers %}
    <div class="pwd-manager">
        <div class="pwd--header">
            <div class="header--title">
                <img src="{{ manager[1].logo }}" alt="{{ manager[1].name }} logo" class="header--logo">
                <div class="header--name">
                    <h1>{{ manager[1].name }}</h1>
                    <h2>{{ manager[1].owner }}</h2>
                </div>
            </div>
            <div class="header--desc">
                <ul class="tags">
                    {% if manager[1].recommended %}
                        <li class="green">Recommended</li>
                    {% else %}
                        <li class="red">Not recommended</li>
                    {% endif %}
                    {% for tag in manager[1].tags %}
                        <li>{{ tag }}</li>
                    {% endfor %}
                    <li>
                        <a class="external" href="{{ manager[1].website }}">Website</a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="pwd--desc">
            {{ manager[1].desc }}
        </p>
    </div>
    {% endfor %}
</section>
