---
layout: default
title: Password manager
permalink: /password-manager
menu: main
---

<h1>Password managers</h1>
<section class="password-managers">
    {% for manager in site.pwd_managers %}
    <div class="pwd-manager">
        <header class="manager__header">
            <div class="manager__header--text">
                <img src="{{ manager.logo }}" alt="{{ manager.name }} logo">
                <span class="name-owner">
                    <h2>{{ manager.name }}</h2>
                    <h3>Owned by {{ manager.owner }}</h3>
                </span>
            </div>
            <ul class="tags">
                {% if manager.recommended %}
                    <li class="green">Recommended</li>
                {% else %}
                    <li class="red">Not recommended</li>
                {% endif %}
                {% for tag in manager.tags %}
                    <li>{{ tag }}</li>
                {% endfor %}
            </ul>
        </header>
        <div class="manager__content">
            {{ manager.desc }}
        </div>
        <a class="manager__button external" href="{{ manager.website }}">
           Website 
        </a>
    </div>
    {% endfor %}
</section>
