---
layout: default
title: Password manager
permalink: /password-manager
menu: main
---

<h1>Password managers</h1>
<section class="password-managers">
    {% assign managers = site.data.pwd %}
    {% for manager in managers %}
    <div class="pwd-manager">
        <header class="pwd--header">
            <div class="header--title">
                <img src="{{ manager[1].logo }}" alt="{{ manager[1].name }} logo" class="header--logo">
                <span class="header--name">
                    <h2>{{ manager[1].name }}</h2>
                    <h3>Owned by {{ manager[1].owner }}</h3>
                </span>
            </div>
            <ul class="tags">
                {% if manager[1].recommended %}
                    <li class="green">Recommended</li>
                {% else %}
                    <li class="red">Not recommended</li>
                {% endif %}
                {% for tag in manager[1].tags %}
                    <li>{{ tag }}</li>
                {% endfor %}
            </ul>
        </header>
        <p class="pwd--desc">
            {{ manager[1].desc }}
        </p>
        <a class="learn-more external" href="{{ manager[1].website }}">
           Website 
        </a>
    </div>
    {% endfor %}
</section>
