---
layout: default
---
<div class="service-page">
    <div class="heading">
        <div class="title">
            <img src="{{ page.logo }}" alt="{{ page.title }} logo">
            <span class="name-owner">
                <h1>{{ page.title }}</h1>
                <h2>Owned by {{ page.owner }}</h2>
                <ul class="tags">
                    {% for tag in page.tags %}
                        <li>{{ tag }}</li>
                    {% endfor %}
                </ul>
            </span>
        </div>
    </div>
    <div class="content">
        {% assign recent_breach = page.recent_breach | date: "%m" %}
        {% assign this_month = "now" | date: "%m" %}
        {% assign months_since_breach = recent_breach | minus: this_month  %}
        {% if months_since_breach <= 2 and months_since_breach >= -2 %}
            <div class="warning red">
                Most recent breach: {{ page.recent_breach }}
            </div>
        {% endif %}
        <p class="desc">
            {{ page.desc }}
        </p>
        <h1>Relevant</h1> <!-- TODO: change this to a relevant heading -->
        <div class="critical">
            {% include components/external-links-list.html array=page.breaches title="Breaches" %}
            {% include components/external-links-list.html array=page.headlines title="Headlines" %}
            <div class="collect">
                <h2>What they collect [<a href="{{ page.policy }}">source</a>]</h2>
                {% for item in page.collect %}
                <details>
                    <summary>{{ item.what }}</summary>
                    <p class="desc">
                        {{ item.how }}
                    </p>
                </details>
                {% endfor %}
            </div>
        </div>
        <h1>Secure your account</h1>
        <div class="steps-you-can-take">
            {% include components/list-details.html array=page.security title="Security" type="ol" %}
            {% include components/list-details.html array=page.privacy title="Privacy" type="ol" %}
        </div>
        <div class="alternatives">
            <h1>Alternatives</h1>
            {% for alt in page.alternatives %}
                <div class="alternative">
                    <img src="/assets/img/alternatives/{{ alt }}/logo.png" alt="">
                </div>
            {% endfor %}
        </div>
    </div>
</div>
