---
layout: default
---
<div class="service-page">
    <section class="heading info-box border dark">
        <header class="title">
            <div class="title--wrapper">
                <img src="{{ page.logo }}" alt="{{ page.title }} logo">
                <span class="name-owner">
                    <h1>{{ page.title }}</h1>
                    <h2>Owned by {{ page.owner }}</h2>
                    <ul class="tags">
                        {% for tag in page.tags %}
                            <li>{{ tag }}</li>
                        {% endfor %}
                    </ul>
                </span>
            </div>
            <span class="last-updated">
                Last updated: {{ page.last_update }}
            </span>
        </header>
        <p class="desc">
            {{ page.desc }}
        </p>
    </section>
    <div class="content">
        {% assign recent_breach = page.recent_breach | date: "%m" %}
        {% assign this_month = "now" | date: "%m" %}
        {% assign months_since_breach = recent_breach | minus: this_month  %}
        {% if months_since_breach <= 2 and months_since_breach >= -2 %}
            <div class="warning red">
                Most recent breach: 
                {% if months_since_breach == 0 %}
                    {% assign breach_day = page.recent_breach | date: "%d" %}
                    {% assign today_day = "now" | date: "%d" %}
                    {% assign days_ago = today_day | minus: breach_day  %}
                    <b>{{ days_ago }} days ago</b>
                {% else if months_since_breach == 1 %}
                    <b>{{ months_since_breach | abs }} month ago</b>
                {% else %}
                    <b>{{ months_since_breach | abs }} months ago</b>
                {% endif %}
                – {{ page.recent_breach }} 
            </div>
        {% endif %}
        <h1>Recent</h1> <!-- TODO: change this to a relevant heading -->
        <div class="recent">
            {% include components/external-links-list.html array=page.breaches title="Breaches" %}
            {% include components/external-links-list.html array=page.headlines title="Headlines" %}
        </div>
        <div class="collect info-box border alert">
            <h1>What they collect [<a href="{{ page.policy }}">source</a>]</h1>
            {% for item in page.collect %}
            <details>
                <summary>{{ item.what }}</summary>
                <p class="desc">
                    {{ item.how }}
                </p>
            </details>
            {% endfor %}
        </div>
        <h1>Secure your account (self-configuration)</h1>
        <div class="steps-you-can-take info-box blue">
            {% include components/list-details.html array=page.security title="Security settings" type="ol" %}
            {% include components/list-details.html array=page.privacy title="Privacy settings" type="ol" %}
        </div>
        {% if alternatives %}
        <div class="alternatives">
            <h1>Alternatives</h1>
            {% for alt in page.alternatives %}
                <div class="alternative">
                    <img src="/assets/img/alternatives/{{ alt }}/logo.png" alt="">
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
